In [9]:
# 1. Inner Join과 Outer Join에 대해서 조사하고 이를 비교해봅시다.

In [10]:
'''
Inner Join과 Outer Join은 데이터베이스에서 둘 이상의 테이블을 연결하여 데이터를 가져오는 데
사용되는 SQL(Structured Query Language)의 Join 연산자입니다. 이들은 주로 관계형 데이터베이스에서 사용되며,
서로 다른 테이블 사이의 관계를 활용하여 원하는 정보를 얻는 데 유용합니다.
'''

'\nInner Join과 Outer Join은 데이터베이스에서 둘 이상의 테이블을 연결하여 데이터를 가져오는 데\n사용되는 SQL(Structured Query Language)의 Join 연산자입니다. 이들은 주로 관계형 데이터베이스에서 사용되며,\n서로 다른 테이블 사이의 관계를 활용하여 원하는 정보를 얻는 데 유용합니다.\n'

In [11]:
'''
Inner Join (내부 조인):
Inner Join은 두 테이블 사이에서 공통된 값을 가진 레코드들만 가져오는 조인 방식입니다. 즉, 조인 조건에 해당하지 않는 레코드들은 결과에 포함되지 않습니다.
Inner Join을 사용하면 두 테이블의 교집합을 반환합니다.
'''

'\nInner Join (내부 조인):\nInner Join은 두 테이블 사이에서 공통된 값을 가진 레코드들만 가져오는 조인 방식입니다. 즉, 조인 조건에 해당하지 않는 레코드들은 결과에 포함되지 않습니다.\nInner Join을 사용하면 두 테이블의 교집합을 반환합니다.\n'

In [12]:
'''
Outer Join (외부 조인):
Outer Join은 Inner Join과 달리, 조인 조건에 해당하지 않는 레코드들도 결과에 포함시킵니다. 
Outer Join은 Left Outer Join, Right Outer Join, Full Outer Join유형으로 나뉩니다.
'''

'\nOuter Join (외부 조인):\nOuter Join은 Inner Join과 달리, 조인 조건에 해당하지 않는 레코드들도 결과에 포함시킵니다. \nOuter Join은 Left Outer Join, Right Outer Join, Full Outer Join유형으로 나뉩니다.\n'

In [13]:
'''Inner Join과 Outer Join의 주요 차이점은 조인 조건에 맞지 않는 레코드들이 결과에 포함되는지 여부입니다.
Inner Join은 두 테이블 간의 공통된 값을 가져오는 반면, Outer Join은 조인 조건에 맞지 않는 레코드들도 결과에 포함시킵니다.
따라서 어떤 Join을 사용할지는 원하는 결과에 따라 달라집니다.
'''

'Inner Join과 Outer Join의 주요 차이점은 조인 조건에 맞지 않는 레코드들이 결과에 포함되는지 여부입니다.\nInner Join은 두 테이블 간의 공통된 값을 가져오는 반면, Outer Join은 조인 조건에 맞지 않는 레코드들도 결과에 포함시킵니다.\n따라서 어떤 Join을 사용할지는 원하는 결과에 따라 달라집니다.\n'

In [14]:
# 2. Python의 set_trace기능을 살펴보고 이에 대한 예를 들어주세요

In [ ]:
'''
set_trace() 함수는 Python에서 디버깅을 위해 사용되는 내장 함수로, 
코드 실행 중에 프로그램의 흐름을 중단하고 해당 지점에서 디버깅 세션을 시작합니다.
이를 통해 개발자는 변수의 값을 확인하고 코드의 실행 경로를 조사하여 버그를 찾거나 코드를 분석할 수 있습니다. 
set_trace() 함수는 Python의 pdb 모듈에 정의되어 있으며,
파이썬 스크립트 안에서 import pdb를 통해 사용할 수 있습니다.
'''

In [16]:
import pdb

def f(a,b):
    c = a+b
    return c

a1 = 10
b1 = 20
pdb.set_trace()
print(f(a1,b1))

--Return--
None
> /var/folders/7z/gdcw9m0d0dd4vcwfzw8_c6300000gn/T/ipykernel_10026/3752608763.py(9)<module>()
      6
      7 a1 = 10
      8 b1 = 20
----> 9 pdb.set_trace()
     10 print(f(a1,b1))

In [17]:
# 3. https://github.com/lumiamitie/TIL/blob/master/python/recsys_in_python_101.md
#    실제 분석하고 해당 코드를 수행해봅니다.
#     => 협업필터링 vs 컨텐츠 기반 모형을 비교 설명해주세요 그리고 이를 합친 하이브리모형과 각각 성능면에서 비교해주세요

In [ ]:
'''
협업 필터링 : 다수의 사용자를 통해 얻어낸 상품 선호 정보를 바탕으로 특정한 사용자의 관심사를 예측한다.
이는 유저 A와 B가 특정 상품에 대해 동일한 의견을 가지고 있다면, A는 주어진 상품에 대해서 임의의 다른 유저보다 B와 유사한 의견을 가질 것이라는 것을 가정한다.

컨텐츠 기반 모형 : 사용자가 소비했던 상품의 정보와 속성만을 이용한다.
과거에 소비했던 상품과 유사한 속성을 가진 상품을 추천한다.

하이브리드 모형 : 협업 필터링과 컨텐츠기반 필터링을 조합하여 더 높은 성과를 얻는 경우가 많다.
기존의 방식에서 발생할 수 있는 문제들을 해결하는 데 도움이 된다.
새로운 사용자나 상품에 대한 추천(Cold Start문제)이나 데이터가 희소한 경우 (Sparsity 문제)를 해결하는데 유용하다.

'''

In [19]:
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse.linalg import svds
import matplotlib.pyplot as plt

In [ ]:
# Deskdrop 데이터는 12달간의 실제 데이터를 담고 있다. 사용자 인터랙션 정보가 7만3천건 정도, 플랫폼 내에서 공유된 게시물 정보가 3천건 정도 존재한다.

In [21]:
#공유된 게시물 정보
articles_df = (
  pd.read_csv('4주차/archive/shared_articles.csv')
    .loc[lambda d: d['eventType'] == 'CONTENT SHARED']  
)
articles_df.head(5)

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en
5,1459194522,CONTENT SHARED,-2826566343807132236,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.coindesk.com/ieee-blockchain-oxford...,IEEE to Talk Blockchain at Cloud Computing Oxf...,One of the largest and oldest organizations fo...,en

In [22]:
# 사용자 인터랙션 정보
interaction_df = pd.read_csv('4주차/archive/users_interactions.csv')
interaction_df.head(5)

'''공유된 게시물 정보와 사용자 인터렉션 정보는 contentID 값을  통해 조인될 수 있다.'''

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

In [23]:
#데이터 전처리
#인터렉션의 종류는 여러 가지가 있기 때문에, 각 액션에 대한 가중치 또는 강도를 가정해볼 수 있다.
#예를 들면, 아티클에 댓글을 하나 달았을 경우 단순히 좋아요를 누르거나 게시물을 보기만 한 것보다 더 관심이 있다고 생각할 수 있다.
event_type_strength = {
   'VIEW': 1.0,
   'LIKE': 2.0, 
   'BOOKMARK': 2.5, 
   'FOLLOW': 3.0,
   'COMMENT CREATED': 4.0,  
}

interaction_df['eventStrength'] = (
  interaction_df
    .loc[:, 'eventType']
    .apply(lambda d: event_type_strength[d])
)

In [25]:
#추천 시스템에서는 사용자에 대한 정보가 부족할때 추천을 제공하기가 어려워지는 Cold Start 문제가 존재한다. 이러한 이유로 5개 이상의 인터렉션이 존재하는 사용제애 대한
#데이터만 활용하도록 한다.
interaction_df_over5 = (interaction_df
  .groupby('personId', group_keys=False)
  .apply(lambda df: df.assign(interactCnt = lambda d: d['contentId'].nunique()))
  .loc[lambda d: d['interactCnt'] >= 5]
)

# 인터렉션수 5 이상인 사용자의 데이터는 69868건
interaction_df_over5.shape[0]

69868

In [26]:
# Deskdrop에서는 사용자들이 특정한 아티클을 여러번 볼 수 있고, 좋아요나 댓글 등 다양한 상호작용을 할 수 있다. 
# 따라서 특정한 아티클에 대한 사용자의 선호도를 알기 위해, 모든 상호작용에 대한 점수를 합산하고 로그변환을 통해 분포를 평활하게 만든다.
interaction_full_df = (
  interaction_df_over5
    .groupby(['personId', 'contentId'], as_index=False)['eventStrength']
    .sum()
    .assign(eventScore = lambda d: np.log2(1+d['eventStrength']))
)

interaction_full_df.head(10)

              personId            contentId  eventStrength  eventScore
0 -9223121837663643404 -8949113594875411859            1.0    1.000000
1 -9223121837663643404 -8377626164558006982            1.0    1.000000
2 -9223121837663643404 -8208801367848627943            1.0    1.000000
3 -9223121837663643404 -8187220755213888616            1.0    1.000000
4 -9223121837663643404 -7423191370472335463            8.0    3.169925
5 -9223121837663643404 -7331393944609614247            1.0    1.000000
6 -9223121837663643404 -6872546942144599345            1.0    1.000000
7 -9223121837663643404 -6728844082024523434            1.0    1.000000
8 -9223121837663643404 -6590819806697898649            1.0    1.000000
9 -9223121837663643404 -6558712014192834002            2.0    1.584963

In [ ]:
'''머신러닝 프로젝트에서는 평가를 잘 하는 것이 중요하다. 서로 다른 알고리즘을 비교하거나 모형을 위한 하이퍼파라미터를 선택할 수 있게 해주기 때문이다.
평가하는 과정에서 중요한 점은, 학습하지 않은 데이터에도 잘 동작할 수 있도록 모형이 일반화되었는지 확인하는 것이다. 
이를 위해 Cross Validation이라는 기법을 사용한다. 여기서는 holdout이라는 간단한 방법을 써보자. 학습과정에서 임의로 추출한 데이터(20%라고 해보자)를 테스트용으로 
따로 빼두고, 평가를 위해서만 사용한다. 아래 평가과정에서 측정하는 지표들은 모두 이 test set 데이터를 통해 측정한 것들이다.

참고로 특정한 날짜를 기준으로 학습셋과 테스트셋 데이터를 나누기도 한다. 특정 일자보다 이전의 데이터는 모두 학습에 사용하고, 이후의 데이터는 모두 평가하는데 쓴다.
미래의 사용자 행동을 예측한다면 이러한 방식을 사용해서 평가할 수도 있다.'''